Options -Indexes

RewriteEngine On
RewriteBase /
DirectoryIndex public/index.php

# If someone hits the project root, forward to the public index
RewriteRule ^$ public/index.php [L]

# Forward all other requests into the public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
